.banner{
   color: #fff;
   text-align: center;
   position: relative;
}




/* Seccion wiseBot */
.banner__main{
   background-color: $primary-color;
   padding: 6em 0;
   overflow: hidden;
}



.banner--info{
   text-align: left;

   &--titulo{
      @include font-size(55);
      @include line-height(72);
      font-weight: 300;
      margin: 0;

      .titulo--destacado{
         color: $secondary-color;
      }
   }

   &--parrafo{
      @include font-size(18);
      margin: 1.5em 0;

      .parrafo--destacado{
         color: $secondary-color;
         font-weight: 400;
      }
   }

   &--descarga{
      max-width: 170px;
      margin-right: 1em;
      width: 100%;
   }

}

.banner--foto{
   margin: 0;
}



.banner--ancla{
   color: #fff;
   margin: 3em auto 0 auto;
   position: relative;

   &--mouse{
      @include font-size(50);
   }

   &--flecha{
      @include font-size(20);
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
   }

   &--text{
      @include font-size(16);
      font-weight: 300;
      margin-top: 1.5em;
   }
}
/* Fin */



/* Seccion wiseSense */
.banner__wisesense{
   background-color: #fff;
   padding: 0;

   .banner--foto{
      position: absolute;
      top: -150px;
      left: 0;
      width: 60%;
      z-index: 2;
   }

   .banner--info--titulo{
      color: $primary-color;
   }

   .banner--info--parrafo{
      color: $primary-color;
   }
}

/* Fin */



/* Seccion APP */
.banner__app{
   background-color: #fff;
   padding: 10em 0 4em 0;

   .banner--foto{
      position: static;
   }

   .banner--info{
      margin-top: 10em;
   }

   .banner--info--titulo{
      color: $primary-color;
   }

   .banner--info--parrafo{
      color: $primary-color;
   }
}

/* Fin */





/* Triangulo inferior para dar la forma a las secciones*/
.banner--forma{
   border-left: 1920px solid #fff;
   border-top: 100px solid transparent;
   border-bottom: 0 solid transparent;
   height: 0;
   position: absolute;
   left: 0;
   bottom: 0;
}
