/* Clase global para todos los banner */

.banner{
   background-color: #fff;
   color: #fff;
   text-align: center;
   position: relative;
}



   .banner--info{
      text-align: left;
      color: $primary-color;

      &--titulo{
         @include font-size(55);
         @include line-height(65);
         font-weight: 300;
         margin: 0;

         .titulo--destacado{
            color: $secondary-color;
         }
      }

      &--parrafo{
         @include font-size(18);
         margin: 1.5em 0;

         .parrafo--destacado{
            color: $secondary-color;
            font-weight: 400;
         }
      }


      &--descarga{
         max-width: 170px;
         margin-right: 1em;
         width: 100%;
      }


      &--testimonio{
         color: $primary-color;
         margin: 4em 0;

         .testimonio--avatar{
            border-radius: 50%;
            overflow: hidden;
            max-width: 65px;

         }

         .testimonio--texto{
            color: #91999F;
            @include font-size(14);
            @include line-height(19);
            font-style: italic;
         }

         .testimonio--autor{
            @include font-size(16);
            font-style: italic;
            font-weight: 600;
            margin-top: 1em;
            &--nota{
               font-weight: 300;
            }
         }
      }

   }


   .banner--foto{
      margin: 0;
   }



   .banner--ancla{
      color: #fff;
      margin: 3em auto 0 auto;
      position: relative;
      transition: all .3s;

      &--mouse{
         @include font-size(50);
      }

      &--flecha{
         @include font-size(20);
         position: absolute;
         left: 0;
         right: 0;
         top: 40px;
         animation: animate-flecha 2s infinite ease;
      }

      &--text{
         @include font-size(16);
         font-weight: 300;
         margin-top: 1.5em;
      }
   }

   @keyframes animate-flecha {
          0%, 20%, 50%, 80%, 100% {transform: translateY(0)}
          40% {transform: translateY(-10px)}
          60% {transform: translateY(-10px)}
      }



/* Seccion wiseBot */
.banner__main{
   background-color: $primary-color;
   padding: 14em 0 6em 0;
   overflow: hidden;

   .banner--info--titulo, .banner--info--parrafo{
      color: #fff;
   }

}
/* Fin */



/* Seccion wiseSense */
.banner__wisesense{
   padding: 0;

   .banner--foto{
      position: absolute;
      top: -150px;
      left: 0;
      width: 60%;
      z-index: 2;
   }
}

/* Fin */



/* Seccion app */
.banner__app{
   padding: 8em 0 4em 0;

   .banner--info{
      margin-top: 8em;
   }

}
/* Fin */


/* Seccion features APP */
.banner__features{
   padding: 6em 0;

   .banner--info{
      margin-top: 5em;
   }
}
/* Fin */


.banner__partners{
   .banner--sliderPartners--item{
      height: 250px;
      margin-top: 2em;
      position: relative;

   }

   .item--logotipo{
      max-width: 400px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 5%;

   }

   .item--detalle{
      color: #687C92;
      @include font-size(14);
      font-style: italic;
      position: absolute;
      bottom: 5%;
   }
}


/* setting del carrousel */
	.owl-partners{
      display: inline-block !important;
		position: relative;
		z-index: 1;

		.owl-nav {
			display: none;
		}

		.owl-dots {
			display: inline-block !important;
			margin: 0 auto;
			position: absolute;
			bottom: -12%;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 3;

			.owl-dot {
				background-color: #D8D8D8;
				border: 1px solid #D8D8D8;
				border-radius: 50%;
				height: 10px;
				display: inline-block;
				margin: 5px;
				pointer-events: all;
				width: 10px;

				&.active {
					background-color: #5D5C5C;
					border: 1px solid #5D5C5C;
				}
			}
		}
	}



/* Triangulo inferior para dar la forma a las secciones*/
.banner--forma{
   border-left: 1920px solid #fff;
   border-top: 100px solid transparent;
   border-bottom: 0 solid transparent;
   height: 0;
   position: absolute;
   left: 0;
   bottom: 0;
}

.banner--forma__top{
   border-top: 0 solid transparent;
   border-bottom: 100px solid transparent;
   top: 0;
   bottom: inherit;
}
