.boton{
   background-color: $secondary-color;
   color: #fff;
   @include font-size(18);
   font-weight: 400;
   padding: 1em 5em;

   &:hover{
      background-color: darken($secondary-color, 5%);
   }
}




/*Contenedor general */

.wrap{
   margin: 0 auto;
   max-width: 1200px;
   width: 98%;
   position: relative;
}
