section.banner.banner__wisesense
	.wrap
		.row
			.col.s12.m7
				figure.banner--foto
					img(src="img/wisesense-test.png", alt="foto del wisebot")
			.col.s12.m4.offset-m1
				.banner--info.wow.slideInRight
					h2.banner--info--titulo Conoce 
						br 
						| a 
						span.titulo--destacado WiseSense
					p.banner--info--parrafo Con 
						span.parrafo--destacado WiseSENSE 
						| conoce la humedad de tus sustratos y configura tu riego. Además, revisa desde la APP la humedad y temperatura ambiente.
					a.banner--info--boton.boton.waves-effect(href="javascript:;") Preventa
