section.banner.banner__main
   .wrap
      .row
         .col.s4
            .banner--info
               h1.banner--info--titulo Bienvenido 
                  br
                  | a 
                  span.titulo--destacado WiseGrowth
               p.banner--info--parrafo Aprovecha la modalidad preventa y obtén más de un 30% de descuento en el precio del producto. Además de una suscripción anual gratuita !
               a.banner--info--boton.boton.waves-effect(href="javascript:;") Preventa
         .col.s7.offset-s1
            figure.banner--foto
               img(src="img/wisebot-test.png", alt="foto del wisebot")
         .col.s12
            a.banner--ancla(href="javascript:;")
               span.banner--ancla--mouse.icon-mouse
               span.banner--ancla--flecha.icon-arrow-down
               p.banner--ancla--text Scroll down
   .banner--forma
            
         
