section.banner.banner__wisebot
	.wrap
		.row
			.col.s4
				.banner--info
					h2.banner--info--titulo Conoce
						br
						| a
						span.titulo--destacado  WiseBot
					p.banner--info--parrafo Con
						span.parrafo--destacado  WiseBot
						|  puedes controlar cualquier artefacto que esté conectado a tu armario, tales como: iluminación, ventilación, extracción, bombas de riego, calefacción, ozonificador, entre otros.
					a.banner--info--boton.boton.waves-effect(href="https://docs.google.com/forms/d/e/1FAIpQLScNUBUTUlQlRciJ-TqntXe9-wliqkEbKvWJF_bNtoEcSdEA9Q/viewform?usp=sf_link" target="_blank") Lo quiero
			.col.s6.offset-s1
				figure.banner--foto
					img(src="img/wisebot2.png", alt="foto del wisebot")
