section.banner.banner__wisesense
	.wrap
		.row
			.col.s7
				.banner--sliderPartners
					.owl-carousel.owl-partners
						.item
							.banner--sliderPartners--item
								img.item--logotipo.picture1(src="img/wisesense1.png", alt="foto del wisebot")
								//p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						.item
							.banner--sliderPartners--item
								img.item--logotipo.picture2(src="img/wisesens2.png", alt="foto del wisebot" style="width: 95%;")
								//p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
			.col.s4.offset-s1
				.banner--info
					h2.banner--info--titulo Conoce
						br
						| a
						span.titulo--destacado  WiseSens
					p.banner--info--parrafo Con
						span.parrafo--destacado  WiseSens
						|  puedes monitorear la humedad de tus plantas. Además, revisa desde la APP la humedad y temperatura ambiente para tener las mejores condiciones en tu cultivo.
					a.banner--info--boton.boton.waves-effect(href="https://docs.google.com/forms/d/e/1FAIpQLScNUBUTUlQlRciJ-TqntXe9-wliqkEbKvWJF_bNtoEcSdEA9Q/viewform?usp=sf_link" target="_blank") Lo quiero
