section.banner.banner__app
	.wrap
		.row
			.col.s6
				figure.banner--foto
					img(src="img/wisegrowth-app-mov.png", alt="foto del wisebot")
			.col.s5.offset-s1
				.banner--info
					h1.banner--info--titulo Qué hacer
						br
						| en mi 
						span.titulo--destacado APP ?
					p.banner--info--parrafo Podrás tener un control completo sobre tus cultivos, administrar insumos, personalizar tus plantas,  programar riegos, registrar eventos, calendario, una sección de preguntar .. etc 
						br
						span.parrafo--destacado WiseGrowth 
						| APP te dara la oportunidad de disfrutar de un cultivo exitoso con el menor riesgo posible. 
					a.banner--info--descarga(href="javascript:;") 
						img(src="img/appStore.png", alt="Link para descargar aplicacion ios")
					a.banner--info--descarga(href="javascript:;") 
						img(src="img/googleplay.png", alt="Link para descargar aplicacion ios")
