section.equipo
	.banner--forma.banner--forma__top
	.wrap
		.row
			.col.s12
				h2.equipo--titulo Equipo de 
					span.equipo--titulo--destacado sabios
					span.equipo--titulo--bajada Un gran desafío requiere de un gran equipo
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Carlos Fuentes Díaz
						span UI / UX Diseñador
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter

	.banner--forma
