section.equipo
	.banner--forma.banner--forma__top
	.wrap
		.row
			.col.s12
				h2.equipo--titulo Equipo de
					span.equipo--titulo--destacado  sabios
					span.equipo--titulo--bajada Un gran desafío requiere de un gran equipo
			.col.s3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/camilo.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Camilo Acuña
						span Fundador y Desarrollador Fullstack
					.equipo--perfil--social
						a.social--link(href="mailto:camilo.aku@gmail.com")
							span.icon-email
						a.social--link(href="javascript:;")
							span.icon-twitter
			.col.s3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/emiliano.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Emiliano Galleguillos
						span Diseñador Industrial
					.equipo--perfil--social
						a.social--link(href="mailto:gallenova@gmail.com")
							span.icon-email
						a.social--link(href="javascript:;")
							span.icon-twitter
			.col.s3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/javier.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Javier Palacios
						span Desarrollador Móvil
					.equipo--perfil--social
						a.social--link(href="mailto:javier.palacios.h@gmail.com")
							span.icon-email
						a.social--link(href="javascript:;")
							span.icon-twitter
			.col.s3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/angelo.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Angelo Farías
						span Ventas y Clientes
					.equipo--perfil--social
						a.social--link(href="mailto:angeloantonio.farias@gmail.com")
							span.icon-email
						a.social--link(href="javascript:;")
							span.icon-twitter

	.banner--forma
