footer.footer

script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/materialize/dist/js/materialize.min.js")
script(src="lib/owl.carousel/dist/owl.carousel.min.js")
script(src="lib/fancybox/dist/jquery.fancybox.min.js")
script(src="js/main.js")
