section.video
	.video--presentacion
		h2.video--presentacion--titulo "WiseBot en acción"
		p.video--presentacion--bajada Te mostraremos como funciona Wisebot con nuestra app
		span.video--presentacion--icon.icon-play
	figure.video--cover
		img(src="img/cover-video.jpg", alt="portada del video corporativo")
	video#video(src="video/cotorra-argentina.mp4" autoplay, controls) 
